body {
    margin: 0; 
    padding: 0;
    font-family: Raleway, sans-serif;
}



/* -------------------------header------------------------- */
.sm-header {
    background-image: linear-gradient(to right, rgba(0,255,255, 0.6), rgba(255,0,255, 0.6));
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-content: center;
    justify-content: center;
}

.lg-header {
    height: 100px;
    display: none;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 0;
    /*border: 1px solid black;*/
}

/* ----------assets---------- */
.gym-logo {
    font-family: Orbitron, sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
    line-height: 1.2;
    /*border: 1px solid black;*/
}  

.gym-logo span {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
    font-size: 14px;
    display: block;
}

.burger-container {
    text-align: right;
    grid-column-start: 3;
    grid-column-end: 4;
}

.navburger {
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    /*border: 1px solid black;*/  
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* ----------assets---------- */
/* ----------nav links---------- */
ul {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*border: 1px solid black;*/
}

li {
    margin-right: 40px;
    font-weight: 600;
    /*border: 1px solid black;*/
}

li i {
    margin-bottom: 5px;
}

li a:link, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: none;
}

.navlink {
    display: inline-block;
    padding: 14px 0;
    position: relative;
    /*border: 1px solid black;*/
}

.navlink::after {
    /* creates the underline element */
    content: "";
    position: absolute;
    top: 80%;
    height: 3px;
    width: 0%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out all ;
}

li:hover .navlink::after {
    /* how the element transitions when hovered over */
    width: 100%;
    left: 0%;
}

/* sub-menu */
.dropdown-content {  
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    /*border: 1px solid black;*/
}

.subitem {
    position: relative;
    margin: 5px 0 5px -15px;

    /*border: 1px solid black;*/
}

.item_bg { 
    width:0%;
    height: 100%; 
    background-color: rgba(243,247,247, 0.6); 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 2; 
    -webkit-transition: width 0.5s ease-out; 
    transition: width 0.5s ease-out;
}

.sublink {

    font-weight: 400;
    font-size: 14px;
    z-index: 3;
    position: relative;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    /* border: 1px solid black; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.subitem:hover .item_bg {
    width: 100%;
}

#navslide {
    position: absolute;
    width: 100%;
    height: 90vh;
    top:0;
    background-color: #fff;
    -webkit-transition: right 1s ease; /* For Safari 3.1 to 6.0 */
    transition: right 1s ease;
}

.mobile-nav {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100%;
    /*border: 1px solid black;*/
}

.mobile-nav li {
    margin-right: 0;
    padding: 30px;
    min-width: 165px;
    border-bottom: 1px solid black;*/
}

.mobile-nav li:nth-child(4) {
    border-bottom: none; 
}

/* ----------nav links---------- */
/* -------------------------header------------------------- */



/* -------------------------call to action------------------------- */
.hero-img {
    background-image: linear-gradient(to right, rgba(0,255,255, 0.6), rgba(255,0,255, 0.6)), url('../images/photo-of-woman-jumping-1921761.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 95vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    /*border: 3px solid blue;*/
}

.call-to-action {
    margin: 10px;
    /*border: 1px solid black;*/
}

.call-to-action h1 span {
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(243,247,247);
    background-color: #000;
    padding: 0 15px;
    margin: auto;
}

.btn-square {
    border-radius: 0;
    width: 100px;
    padding: 10px 0;
    font-weight: 600;
}

#join-btn {
    background-color: #fff;
    margin: 5px;
    border-width: 0;
}

#login-btn {
    background-color: rgb(0,255,255);
    margin: 5px;
}
/* -------------------------call-to-action------------------------- */



/* -------------------------facilities------------------------- */
#features {
    background-image: radial-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 1.0)), url('../images/man-carrying-barbel-791763.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    /*border: 1px solid black;*/
}
/* -------------------------facilities------------------------- */


/* -------------------------classes------------------------- */
#classes {
    background-color: rgb(255,255,255);
    height: 400px;
    margin: 0;
    /*border: 1px solid black;*/
}
/* -------------------------classes------------------------- */


/* ------------------------- General ------------------------- */
#info-box {
    background-color: rgb(0,255,255);
    margin: 0;
    height: auto;
    width: 100%;
}

.general-info {
    padding: 15px 0;
    /*border: 1px solid black;*/
}

.general-info div {
    padding: 15px 0;
    /*border: 1px solid black;*/
}

img {
    width: 350px;
    height: 350px;
    display: inline-block;
}

h4 {
    font-family: Orbitron;
    font-weight: 500;
    font-size: 1em;
}

h5 {
    font-family: Raleway;
    font-weight: 600;
    font-size: 1em;
}
/* ------------------------- General ------------------------- */



/* -------------------------media queries-------------------------*/
@media (max-width: 767px) { 
    .gym-logo {
        grid-column-start: 2;
        grid-column-end: 3;
        }
}

@media (min-width: 768px) { 
    .sm-header {
        display: none;
    }

    .lg-header {
        display: grid;
    }

    .gym-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        
    }
 }
 /* -------------------------media queries-------------------------*/